<%= form_for(User.new, html: {class: "form-signin"})  do |f| %>
  <h2 class="form-signin-heading">Please sign up</h2>
    <%= f.text_field 'email', class: 'form-control', placeholder: 'Your E-mail'%>
    <%= f.text_field 'name', class: 'form-control', placeholder: 'Name' %>
    <%= f.password_field 'password', class: 'form-control', placeholder: 'Password' %>
    <%= f.password_field 'password_confirmation', class: 'form-control', placeholder: 'Confirmation' %>
    <%= f.submit 'Sign Up', class: 'btn btn-block btn-info' %>
<% end %>
